<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793123783270-kgc6iabg46qd8uvqnllrsnhp828cd647.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793123783270-kgc6iabg46qd8uvqnllrsnhp828cd647</string>
	<key>API_KEY</key>
	<string>AIzaSyBH9645lQ7w2ONXEZVXaEOwnxjAbEZNkXA</string>
	<key>GCM_SENDER_ID</key>
	<string>793123783270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendance</string>
	<key>PROJECT_ID</key>
	<string>attendanc</string>
	<key>STORAGE_BUCKET</key>
	<string>attendanc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793123783270:ios:cfa1e12d739f29c71da3a7</string>
</dict>
</plist>